@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Yomogi&display=swap');
// _base.scss
$font-stack:    'Barlow Condensed', sans-serif;
$font-topic: 'Staatliches', cursive;
$font-name: 'Yomogi', cursive;
$brownie-color: #5E454B;
$yellow-lava-color: #D8B384;
$cream-color: #F3F0D7;
$blue-pastel-color: #CEE5D0;

a::before {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: $blue-pastel-color;
  font-weight: 900;
  font-size: 1.17em;
}

body {
  
  color: $brownie-color;
  background-color: $yellow-lava-color;

  footer {
    flex-direction: column;
    background-color: $brownie-color;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    // a {
    //   padding: 16px;
    // }
  }

  h1{
    font: 80px $font-topic;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  h2 {
    font: 32px $font-topic;
    margin-top: 0;
    opacity: 0.6
  }

  h3 {
    font: 46px $font-topic;
    padding: 32px 0 0 32px;
    opacity: 0.8;
  }

  p {
    font-size: 20px;
    padding-block: 8px;
    padding-inline: 32px;
  }

  .page-wrapper {
    position: relative;

    .intro {
      font: 100% $font-stack;
      position: relative;
    
      header {
        color: $yellow-lava-color;
        background-color: $brownie-color;
        padding: 32px
      }
      
      .summary {
        width: 80%;
      }
      .preamble {
        width: 80%;
      }
    }

    .main {
      width: 80%;
      font: 100% $font-stack;
    }

    .sidebar {
      grid-area: side-column;
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
      li {
        list-style-type: none;
      }
      
      .wrapper{
        display: flex;
        flex-direction: column;
        background-color: $blue-pastel-color;

        .design-selection {
          order: 2;
          li {
            font: 100% $font-topic;
            padding-bottom: 24px;
          
            .design-name {
              font: 100% $font-topic;
              font-size: 24px;
              opacity: 0.6;
              color: $brownie-color;
              display: block;
              text-decoration: none;
              
              }
            .designer-name {
              font: 100% $font-name;
              color: $brownie-color;
              text-decoration: none;
              padding-left: 8px;
            }
          }
        }

        .design-archives {
          margin-top: 120px;
          font: 100% $font-topic;
          order: 1;
          ul {
            display: flex;
            flex-direction: row
          }
          a {
            font-size: 24px;
            color: $cream-color;
          }
          h3 {
            display: none;
          }
          .next {
            order: 2;
            visibility: hidden;
          }
          .next::after {
            content: ">";
            visibility: visible;
          } 
          .viewall {
            order: 1;
          }
        }

        
        .zen-resources {
          font: 100% $font-stack;
          order: 3;

          li {
            font: 100% $font-topic;
            padding-bottom: 24px;
            text-decoration: none;
            opacity: 0.6;

            a {
              color: $brownie-color;
              font-size: 24px;
            }
          }
        }
      }
      
    }
  }
}



   
